.container {
    background: #2f3640;
    padding: 10px;
    border-radius: 50px;
}
input {
    background: none;
    border: none;
    transition: 0.4s;
    width: 0px;
}
button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    color: white;
}
.container:hover input {
    width: 240px;
}
.container:hover button {
    background: #f0b23a;
}